h1{
color: rgb(241, 21, 65);


}

body{
    background-color: deeppink;

}

p{
    text-align: left;
    font-size: x-large;
    color: rgb(0, 0, 0);


}

#dança {
   width: 500px;
   height: 500px;
7y}





