h1{
color: rgb(241, 21, 65);


}

body{
    background-color: black;

}

p{
    text-align: left;
    font-size: x-large;
    color: rgb(255, 140, 203);


}

#dança {
   width: 500px;
   height: 500px;
7y}





